[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/SDL2_image"]
	path = lib/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "lib/SDL_FontCache"]
	path = lib/SDL_FontCache
	url = https://github.com/grimfang4/SDL_FontCache.git