[submodule "lib/SFML"]
	path = lib/SFML
	url = https://github.com/SFML/SFML.git
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/SDL2_image"]
	path = lib/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
