[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/SDL2_image"]
	path = lib/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "lib/SDL_FontCache"]
	path = lib/SDL_FontCache
	url = https://github.com/grimfang4/SDL_FontCache.git
[submodule "lib/SDL_ttf"]
	path = lib/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "lib/sdl-gpu"]
	path = lib/sdl-gpu
	url = https://github.com/grimfang4/sdl-gpu.git
